body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgba(17, 192, 223, 0.96);
  color: rgba(19, 10, 208, 0.948);
  text-align: center;
  padding: 20px;
}

.bootcamp {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.bootcamp p {
  color: red;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
